
  <%= form_for message, remote: true, authenticity_token: true do |f| %>
    <div class="message-row">
      <div class="emoji-picker-container" style="display: inline-block">

        <%= f.text_area :content, id: "chatbox", data: { textarea: "message", emojiable: true,  } %>
        <!-- this hidden field is for the MessagesController and
        Action Cable to keep track of what chat this message belongs to -->

      </div>
      <div class="submit-btn">
        <%= f.submit 'Send', class:'btn btn-primary' %>
      </div>
    </div>
    <div>
      <%= f.file_field :image, class: 'btn btn-primary' %>
    </div>
   <%= f.hidden_field :chat_id, value: chat.id %>
  <%end%>
