<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Home", root_path %> |

    <% if user_signed_in? %>
      Hello <%= current_user.first_name %>,
      <%= link_to "Logout", sessions_path, method: :delete,
               data: {confirm: "are you sure you want to log out?"}%> |
      <%= link_to 'Search' %> |
      <%= link_to 'Messages' %> |
      <%= link_to 'Setting' %>
    <% else %>
      <%= link_to "Login", new_session_path %> |
      <%= link_to "Sign Up", new_user_path %> |
    <% end %>

   <hr>

    <div class="container">

    <% if flash[:notice] %>
        <div class="flash-notice"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="flash-alert"><%= flash[:alert] %></div>
    <% end %>

  <%= yield %>
  </body>
</html>
